body,
h1, h3 {
    font-family: "Raleway", Arial, sans-serif
}

h1, h3 {
    letter-spacing: 6px
}

.w3-row-padding img {
    margin-bottom: 12px
}


.quota {
    font-style: italic
}

.grey {
    color: #656565
}

.cover{
    opacity: 0.5;
    height: auto;
    width: 150px;
}


.scrolling-wrapper {
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid;
    display: inline-block;
    width: auto;

  }
  .card {
    padding: 8px 16px;
    float: left;
    background-color: inherit;
    color: inherit;
    width: auto;
    border: none;
    outline: none;
    display: block;
  }